<div class="sidebar">
    <div class="top">
        <div class="logo">
            <img id="logo-mini" src="./logo.png" alt="logo"/>
            <span>DB App</span>
        </div>
        <i class ="bx bx-menu" id="btn"></i>
    </div>
    
    <ul>
        <li>
            <a href="/dashboard">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/tracker">
                <i class="bx bxs-pencil"></i>
                <span class="nav-item">Data Tracker</span>
            </a>
            <span class="tooltip">Data Tracker</span>
        </li>
        <li class="active">
            <a href="/profile">
                <i class="bx bxs-user"></i>
                <span class="nav-item">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
            <a href="/login">
                <i class="bx bxs-log-out"></i>
                <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>

    <div class="user">
        <img src="./gabay-logo.jpeg" alt="gabay org" class="user-img">
        <div class="div">
            <p class="bold">User's Name</p>
            <p>Admin</p>
        </div>
    </div>
</div>

<div class="main-content">

    <div class="header">
        <h1>Edit Profile</h1>
    </div>

    <form>

        <div class="container-for-profile">
            
            <div class="password-field">

                    <label for="current-password" class="password-label">Current Password:</label>
                    <input type="text" id="current-password" class="password-input">

            </div>

            <div class="password-field">

                <label for="current-password" class="password-label">New Password:</label>
                <input type="text" id="current-password" class="password-input">

            </div>
            <input type="submit" class="submit-button" value="Submit">

        </div>
        
    </form>

</div>