<div class="parent-registration">
    <!-- left section : image -->
    <div class="leftSide">
        <div class="img">
            <img class="logo" src="./logo.png" alt="logo"/>
        </div>
    </div>
    
    <!-- right section : form -->
    <div class="rightSide">
        <p class="main"><b>Welcome</b></p>
        <p class="details">Please Enter Your Detail</p>
        
        <form name="read-user" action="read-user" method="post">
            <div class="form-group">
                <input name="name" id="name-field" type="text" placeholder="Name"></input>
            </div>
            <div class="form-group">
                <input name="email" id="email-field" type="text" placeholder="Email"></input>
            </div>
            <div class="form-group">
                <input name="password" id="password-field" type="password" placeholder="Password"></input>
            </div>
            
            <input type="submit" class="registration" value="Sign Up"></input>
        </form>

        <p class="signup-page">Already have an account? <a class="register" href="/">Log in</a></p>
    </div>
</div>