<div class="sidebar">
    <div class="top">
        <div class="logo">
            <img id="logo-mini" src="./logo.png" alt="logo"/>
            <span>HIV Advocacy Database (HAD)</span>
        </div>
        <i class ="bx bx-menu" id="btn"></i>
    </div>
    
    <ul>
        <li>
            <a href="/dashboard">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li class="active">
            <a href="/tracker">
                <i class="bx bxs-pencil"></i>
                <span class="nav-item">Data Tracker</span>
            </a>
            <span class="tooltip">Data Tracker</span>
        </li>
        <li>
            <a href="/data">
                <i class="bx bx-table"></i>
                <span class="nav-item">Data Log</span>
            </a>
            <span class="tooltip">Data Log</span>
        </li>
        <li>
            <a href="/profile">
                <i class="bx bxs-user"></i>
                <span class="nav-item">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
            <a href="/history">
                <i class="bx bx-list-ul"></i>
                <span class="nav-item">History Log</span>
            </a>
            <span class="tooltip">History Log</span>
        </li>
        <li>
            <a href="/logout">
                <i class="bx bxs-log-out"></i>
                <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>

    <div class="user">
        <img src="./gabay-logo.jpeg" alt="gabay org" class="user-img">
        <div class="div">
            <p class="bold">{{user.name}}</p>
            <p>{{user.role}}</p>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="header">
        <h1>Data Tracker</h1>
    </div>

    <div class="container-for-tracker">
        <form action="add-record" method="post">
            <div class="container-for-fields">
                <div class="field">
                    <label for="data_type" class="data-label">Is the data Biomedical or Non-biomedical?</label>
                    <label class="radio-option">
                        <input type="radio" name="data_type" value="biomedical" onclick="toggleFields()" required>
                        <span>Biomedical</span>
                    </label>
                    <label class="radio-option">
                        <input type="radio" name="data_type" value="nonbiomedical" onclick="toggleFields()" required>
                        <span>Non-biomedical</span>
                    </label>
                </div>

                <div class="field">
                    <label for="gender" class="data-label">Gender:</label>
                    <label class="radio-option">
                        <input type="radio" name="gender" value="Male" required>
                        <span>Male</span>
                    </label>
                    <label class="radio-option">
                        <input type="radio" name="gender" value="Female" required>
                        <span>Female</span>
                    </label>
                    <label class="radio-option">
                        <input type="radio" name="gender" value="Transgender" required>
                        <span>Transgender</span>
                    </label>
                </div>

                <!-- Biomedical fields -->
                <div class="biomedical-container">
                    <div class="biomedicalfield"> 
                        <label for="location" class="data-label">Location:</label>
                        <label class="radio-option">
                            <input type="radio" name="location" value="Caloocan" onclick="toggleLocationFields()">
                            <span>Caloocan</span>
                        </label>
                        <label class="radio-option">
                            <input type="radio" name="location" value="Not in Caloocan" onclick="toggleLocationFields()">
                            <span>Not in Caloocan</span>
                        </label>
                    </div>

                    <div id="barangay-field">
                        <label for="barangay" class="data-label">Barangay:</label>
                        <input type="number" id="barangay" name="barangay" class="data-input" min="1" max="188">
                    </div>

                    <div id="remarks-field">
                        <label for="remarks" class="data-label">Remarks:</label>
                        <input type="text" id="remarks" name="remarks" class="data-input">
                    </div>

                    <div class="biomedicalfield">
                        <label for="age" class="data-label">Age:</label>  
                        <select id="age" name="age" >
                            <option value="" disabled selected>Select age range</option>
                            <option value="0 to 18 months">0 to 18 months</option>
                            <option value="19 months to 9 years">19 months to 9 years</option>
                            <option value="10 to 14 years">10 to 14 years</option>
                            <option value="15 to 19 years">15 to 19 years</option>
                            <option value="20 to 24 years">20 to 24 years</option>
                            <option value="25 to 29 years">25 to 29 years</option>
                            <option value="30 to 39 years">30 to 39 years</option>
                            <option value="40 to 49 years">40 to 49 years</option>
                            <option value="50-plus">50 years and older</option>
                        </select>
                    </div>
                    
                    <div class="biomedicalfield">
                        <label for="repeat" class="data-label">Has the person been tested before?</label>
                            <label class="radio-option">
                                <input type="radio" name="tested" value="Yes" >
                                <span>Yes (Has been tested before)</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" name="tested" value="No" >
                                <span>No (First Time Tester)</span>
                            </label>
                    </div>

                    <div class="biomedicalfield">
                        <label for="result" class="data-label">Test result: </label>
                            <label class="radio-option">
                                <input type="radio" name="result" value="Positive" >
                                <span>Positive</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" name="result" value="Negative" >
                                <span>Negative</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" name="result" value="Do Not Know" >
                                <span>Don't Know (For repeat testers)</span>
                            </label>
                    </div>

                    <div class="biomedicalfield">
                        <label for="reason-hiv" class="data-label">Reason for HIV test:</label>  
                        <select id="reason-hiv" name="reason-hiv" >
                            <option value="" disabled selected>Select reason</option>
                            <option value="Unprotected Sex">Unprotected Sex</option>
                            <option value="Injectable Drugs">Use of injectable drugs</option>
                            <option value="Pregnancy">Pregnancy</option>
                            <option value="Exposed-child">HIV-exposed child</option>
                            <option value="PITC">PITC - III health</option>
                            <option value="Positive-partner">HIV positive partner</option>
                            <option value="Rape">Non consensual sex and rape</option>
                            <option value="Bloodtransfusion">History of bloodtransfusion or exposure to contaminated equipment</option>
                            <option value="HCW">Occupational hazard health care worker (HCW)</option>
                            <option value="Administrative">Administrative reason</option>
                            <option value="History">Subjective ill health or history of sexually transmitted infection(s)</option>
                            <option value="No reason">No specific reason disclosed</option>
                        </select>
                    </div>

                    <div class="biomedicalfield">
                        <label for="vulnerable-population" class="data-label">Key or Vulnerable Population (KVP) at higher risk</label>
                        <select id="vulnerable-population" name="vulnerable-population" >
                            <option value="" disabled selected>Select population</option>
                            <option value="PWID">Person who injects drugs (PWID) or other needle sharing</option>
                            <option value="MSM">Gay and other Men having Sex with Men (MSM)</option>
                            <option value="Transgenders">Transgenders</option>
                            <option value="Sex-worker">Sex / entertainment worker</option>
                            <option value="Prisoner">Prisoner / detainee</option>
                            <option value="Migrant">Mobile and migrant populations</option>
                            <option value="PWUD">Person who uses non-injectable drugs (PWUD)</option>
                            <option value="Uniformed forces">Uniformed forces (military, police, security)</option>
                            <option value="Sexual-partners">Sexual Partners of identified KP at higher risk</option>
                            <option value="AGEW">Adolescent Girls and Young Women (AGEW)</option>
                            <option value="PWD">Persons with disability</option>
                            <option value="PLHIV">HIV-negative sexual partners of PLHIV</option>
                            <option value="Not disclosed">No key or vulnerable population known or not disclosed</option>
                        </select>
                    </div>

                    <div class="biomedicalfield">
                        <label for="linkage" class="data-label">Linkage</label>
                        <select id="linkage" name="linkage" >
                            <option value="" disabled selected>Select linkage</option>
                            <option value="Treatment facility">Linked to Treatment Facility</option>
                            <option value="Follow-up">Linkage not yet confirmed, under follow-up</option>
                            <option value="Unconfirmed">Linkage unconfirmed (after 3 months follow-up)</option>
                        </select>
                    </div>

                </div>
                
                <!-- Non-biomedical fields -->
                <div class="nonbiomedical-container">
                    <div class="nonbiomedicalfield">
                        <label for="stigma" class="data-label">Stigma:</label>
                        <select id="stigma" name="stigma">
                            <option value="" disabled selected>Select category</option>
                            <option value="Public Stigma">Public Stigma</option>
                            <option value="Family Stigma">Family Stigma</option>
                            <option value="Self-stigma">Self-stigma</option>
                        </select>
                    </div>

                    <div class="nonbiomedicalfield">
                        <label for="discrimination" class="data-label">Discrimination:</label>
                        <select id="discrimination" name="discrimination">
                            <option value="" disabled selected>Select category</option>
                            <option value="Verbal Abuse">Verbal Abuse</option>
                            <option value="Physical Abuse">Physical Abuse</option>
                            <option value="Emotional Abuse">Emotional Abuse</option>
                        </select>
                    </div>

                    <div class="nonbiomedicalfield">
                        <label for="violence" class="data-label">Violence:</label>
                        <select id="violence" name="violence">
                            <option value="" disabled selected>Select category</option>
                            <option value="Economic Abuse">Economic Abuse</option>
                            <option value="Sexual Abuse">Sexual Abuse</option>
                            <option value="Hate Crime">Hate Crime</option>
                        </select>
                    </div>
                </div>
                
                <div class="add-record">
                    <input type="submit" class="submit-button" value="Submit">
                </div>
                
            </div>
        </form>
    </div>

    <div class="footer">
        <p>&copy; 2024 HIV Advocacy Database. All rights reserved.</p>
    </div>
</div>